<h1><%= @shuffled.name %></h1>

<div class='container'>

<br>

<% if @shuffled.cards.length == 0 %>
  <p>No cards in this deck yet!</p>
<% else %>
  <% @shuffled.cards.each do |card| %>
    <%= card.question %>
    <%= card.answer %>
  <% end %>
<% end %>

</div>