<h1><%= @deck.name %></h1>

<div class='container'>

<br>

<% if @deck.cards.length == 0 %>
  <p>No cards in this deck yet!</p>
<% else %>
  <% @deck.cards.shuffle.each do |card| %>
    <%= card.question %>
    <%= card.answer %>
  <% end %>
<% end %>

</div>